<section class="ffooter">
    <footer class="footer-one" style="background: #efefef;">
        <div class="conatiner">
            <div class="row">
                <div class="col l5 s6 offset-l1">
                    <h4 style="color:#012e55" class=" subheading-two">Contact Us</h4>
                    <p style="color:#012e55">
                        <i class="material-icons left" style="color:#012e55">location_on</i> ABC 222, UP, India
                    </p>
                    <p style="color:#012e55">
                      <a href="tel:+918297816000" style="color: inherit;" class="tooltipped" data-tooltip="Call us"><i style="color:#012e55;" class="material-icons left">local_phone</i>+918297816000</a>
                    </p>
                    <p style="color:#012e55">
                      <a href="mailto:someone@example.com" style="color: inherit;" class="tooltipped" data-tooltip="Mail us"><i style="color:#012e55;" class="material-icons left">email</i>xyz@gmail.com</a>
                    </p>
                </div>
                <div class="col l6 s6">
                    <h4 style="color:#012e55" class=" subheading-two">Social Media</h4>
                    <p>
                        <a href="#" style="color:#012e55"><i style="color:#012e55;" class="material-icons left">facebook</i>Facebook</a><br>
                    </p>
                    <p>
                        <a href="#" style="color:#012e55"><i style="color:#012e55;" class="material-icons left">cloud</i>Twitter</a><br>
                    </p>
                    <p> 
                        <a href="#" style="color:#012e55"><i style="color:#012e55;" class="material-icons left">photo_camera</i>Instagram</a>
                    </p>
                </div>
            </div>
            <div class="row footer-two" style="background-color:#012e55;">
                <div class="col l6 s12">
                    <p class="white-text">
                        &copy; MediCare
                    </p>
                </div>
                <div class="col l6 s12">
                    <p class="white-text">
                        Designed by: The Phantoms
                    </p>
                </div>
            </div>
        </div>
    </footer>
  </section>
  