<section class="ffooter">
    <footer class="footer-one">
        <div class="conatiner">
            <div class="row">
                <div class="col l5 s6 offset-l1">
                    <h4 class="white-text subheading-two">Contact Us</h4>
                    <p class="white-text">
                        <i class="material-icons left">location_on</i> ABC 222, UP, India
                    </p>
                    <p class="white-text">
                      <a href="tel:+918297816000" style="color: inherit;" class="tooltipped" data-tooltip="Call us"><i class="material-icons left">local_phone</i>+918297816000</a>
                    </p>
                    <p class="white-text">
                      <a href="mailto:someone@example.com" style="color: inherit;" class="tooltipped" data-tooltip="Mail us"><i class="material-icons left">email</i>xyz@gmail.com</a>
                    </p>
                </div>
                <div class="col l6 s6">
                    <h4 class="white-text subheading-two">Social Media</h4>
                    <p>
                        <a href="#" class="white-text"><i class="material-icons left">facebook</i>Facebook</a><br>
                    </p>
                    <p>
                        <a href="#" class="white-text"><i class="material-icons left">cloud</i>Twitter</a><br>
                    </p>
                    <p> 
                        <a href="#" class="white-text"><i class="material-icons left">photo_camera</i>Instagram</a>
                    </p>
                </div>
            </div>
            <div class="row footer-two">
                <div class="col l6 s12">
                    <p class="white-text">
                        &copy; MediCare
                    </p>
                </div>
                <div class="col l6 s12">
                    <p class="white-text">
                        Designed by: The Phantoms
                    </p>
                </div>
            </div>
        </div>
    </footer>
  </section>
  