      <!--Navigation-->
<nav>
  <div class="nav-wrapper">
    <!--<a href="#!" class="brand-logo"><img src="images/doc-icon.png" height="50" width="80"></a>-->
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#about">About</a></li>
      <li><a href="#departments">Departments</a></li>
      <li><a href="doctors/login">Doctors</a></li>
      <% if (locals.user){%>
        <% if (locals.user.specialization=='None'){%>
        <li><a href="/users/profile"><%=user.name%></a></li>
        <li><a href="/users/sign-out">SingOut</a></li>
        <%} else if(locals.user.specialization=='Doctor'){%>
          <li><a href="/doctors/profile"><%=user.name%></a></li>
          <li><a href="/doctors/sign-out">SingOut</a></li>
        <%}%>
      <%}else{%>
      <li><a href="#"onclick="toggleModal_signup();">SingnUp</a></li>
      <li><a href="#" onclick="toggleModal_login();">Login</a></li>
      <%}%>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="about">About</a></li>
  <li><a href="#departments">Departments</a></li>
  <li><a href="#doctors">Doctors</a></li><% if (locals.user){%>
    <li><a href="/users/sign-out">SingOut</a></li>
  <%}else{%>
  <li><a href="#"onclick="toggleModal_signup();">SingnUp</a></li>
  <li><a href="#" onclick="toggleModal_login();">Login</a></li>
  <%}%>
</ul> 