<div class="container-fluid" style="padding-left: 20px; padding-right:20px">
    <div class="container apt-success">
        <div>
        <div class="card success-card" style="    padding: 50px 20px;">
            <div class="card-body">
                <div class="success-cont" style="text-align: center;">
                    <i class="fas fa-check"></i>
                    <h3>Appointment booked <%=status%></h3>
                    <p style="margin: 30px;">A calender is sent to your redisterd email id ,please save that event so it will remind you on that date.</p>
                    <p style="margin: 30px;">Appointment booked with <strong>Dr. Darren Elder</strong><br> on <strong>12 Nov 2019 5:00PM to 6:00PM</strong></p>
                    <a class="btn-teal" href="/">Go Back To Home</a></div>
                </div>
            </div>
        </div>
    </div>
</div>