<div id="paytm-checkoutjs">
    <section class="chat__section">

    <div class="message__area">
        <div class="incoming message">
            <h4>Medicare</h4>
            <p id="username">We hope you all are safe and gud <%=locals.user.name%></p>
        </div>
        <div class="incoming message">
            <h4>Medicare</h4>
            <p id="userAge">To proceed further we wuld like to confirm these details so we can assist you better</p>
            <p id="userAge">Your age is <%=detail.age%></p>
            <p id="userHeight">Your Height is <%=detail.height%></p>
            <p id="userWeight">Your weight is <%=detail.weight%></p>
        </div>
        <div class="incoming message">
            <h4>Medicare</h4>
            <p id="userWeight">If above details are up to date then type "confirm" otherwise type "update" to update the details</p>
        </div>
    </div>
    <div id="text" >
        <textarea id="textarea" cols="30" rows="1" placeholder="Write a message..."></textarea>
    </div>
    </section>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chatBot.js"></script>