<div id="paytm-checkoutjs">
    <section class="chat__section">
    <div class="brand">
        <img height="40" src="/images/wassup.png" alt="not found">
        <h1>Wassup</h1>
    </div>
    <div class="message__area">
        <div class="incoming message">
            <h4>Medicare</h4>
            <p id="username">How are u <%=locals.user.name%></p>
        </div>
    </div>
    <div id="text" >
        <textarea id="textarea" cols="30" rows="1" placeholder="Write a message..."></textarea>
    </div>
    </section>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chatBot.js"></script>