<div class="container">
  <% users.forEach(function(user) {%>
  <div class="card">
    <img src="https://image.flaticon.com/icons/png/512/843/843293.png"/>
    <div class="wrapper">
      <button>
        ₹<%=user.price%>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </br>
        <%for(let i=1;i<=user.rating;i++){%>
        <li class="fa fa-star checked"></li>
        <%}%>
        <%for(let i=user.rating;i<5;i++){%>
          <li class="fa fa-star "></li>
          <%}%>
        </button>
    </div>
    <div class="card__content">
      <h2><%=user.name%></h2>
      <p>
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
    <a href="/users/bookAppointment/<%=user.id%>">
        <button>Book Appointment</button>
    </a>
    </div>
  </div>
  <%})%>

</div>