<div class="container-fluid" style="margin-top: 30px;">
    <div class="row">
        <div class="col m9 offset-m2">
            <div class="account-content">
                <div class="row center" style="display:flex; align-items: center;justify-content: center;">
                    <div class="col m7 l6 login-left"><img src="/images/forgot.png" style="max-width: 100%; height: auto;" class="img-fluid" alt="Login Banner">
                    </div>
                    <div class="col m12 l6 login-right" style="background-color: #fff;
                    border: 1px solid #f0f0f0;border-radius: 4px; padding: 25px ;">
                        <div class="login-header">
                            <h3 class="subheading-two">Forgot Password?</h3>
                            <p class="grey-text">
                                Enter your email to get a password reset link</p></div>
                                <form action="/admin/login"><div class="form-group" style="margin-bottom: 25px;">
                                    <input type="email" class="form-control floating" placeholder="email">
                                </div>
                                <div class="right-align">
                                    <a class="forgot-link" href="/template/login">Remember your password? </a>
                                </div>
                                <button class="btn-teal" type="submit">Reset Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>