<div class="page-header">
    Reviews
</div>


<div class="content" style="background-image:url('/images/review-background.jpeg'); background-repeat: no-repeat; background-size: cover; padding: 2rem 0rem; ">
    <div class="container-fluid" style="padding-left: 20px;padding-right: 20px;">
        <div class="row">
            <div class="col s12 m5 l4 xl3 SideBar">
                <div style="position:sticky; top:20px;">
                <div class="profile-slidebar">
                    <div class="widget-profile" style="text-align: center;">
                    <img style="border:4px solid #32acdf;border-radius: 50%; width: 120px;height: 120px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="/images/doc1.png">  
                    <h5 style="font-weight: 500;">Dr. Name</h5>
                    <p style="color: gray; font-size:medium;">BDS, MDS - Oral & Maxillofacial Surgery</p>
                    </div>
                    
                    <div class="widget-content">
                    <div class="dashboard-menu nav" style="padding: 20px; font-size: 1.5rem;">
                        <div class="nav-item" style="margin-bottom: 5px;">
                        <a href="" class="active" aria-current="page">
                            <i class="large material-icons" style="font-size: 1.5rem; vertical-align: middle;padding-right: 15px;">
                            dashboard
                            </i><span>Dashboard</span>
                        </a>
                        </div>
                        <div class="nav-item" style="margin-bottom: 5px;">
                        <a href="" class="active" aria-current="page">
                            <i class="large material-icons" style="font-size: 1.5rem; vertical-align: middle;padding-right: 15px;">
                            date_range
                            </i><span>Appointements</span>
                        </a>
                        </div>
                        <div class="nav-item" style="margin-bottom: 5px;">
                        <a href="" class="active" aria-current="page">
                        <i class="large material-icons" style="font-size: 1.5rem; vertical-align: middle;padding-right: 15px;">group</i>
                        <span>My Patients</span>
                        </a>
                        </div>
                        <div class="nav-item" style="margin-bottom: 5px;">
                        <a href="" class="active" aria-current="page">
                        <i class="large material-icons" style="font-size: 1.5rem; vertical-align: middle;padding-right: 15px;">question_answer</i>
                        <span>Messages</span>
                        </a>
                        </div>
                        <div class="nav-item" style="margin-bottom: 5px;">
                        <a href="" class="active" aria-current="page">
                        <i class="large material-icons" style="font-size: 1.5rem; vertical-align: middle;padding-right: 15px;">manage_accounts</i>
                        <span>Edit Profile</span>
                        </a>
                        </div>
                        <div class="nav-item">
                        <a href="" class="active" aria-current="page">
                        <i class="large material-icons" style="font-size: 1.5rem; vertical-align: middle;padding-right: 15px;">logout</i>
                        <span>LogOut</span>
                        </a>
                        </div>
                        <div class="nav-item">
                        <a href="/addBlog" class="active" aria-current="page">
                        <i class="large material-icons" style="font-size: 1.5rem; vertical-align: middle;padding-right: 15px;">mode_edit</i>
                        <span>Blogs</span>
                        </a>
                        </div>
                    
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class=" col s12 m7 l8 xl9">
            <!--Load various comments as follows-->
                <div id="Reviews" class="col m12 l6" style="background-color: white; padding: 20px;">
                    <div class="review" style="border: 1px solid rgb(0 0 0 / 5%); padding: 15px; display: flex; color: rgb(10, 10, 119);">
                    <img src="/images/doc1.png" alt="" style="border: 50%; height:2.5rem; position: relative; display: inline-block;">
                    <div class="review-body" style="margin:0px 16px; width: 100%;">
                        <div class="review-info" style="margin-bottom: 10px; position: relative;">
                        <span class="review-writer" style="font-size: 1.5rem; font-weight: 600; color: black;">Writer Name</span>
                            <span class="review-time" style=" display:block;font-size: 1rem; color: rgba(128, 128, 128, 0.616);">Reviewed on Date</span>
                        </div>
                        <div class="rating" style="display: flex;">
                            <!--Fill satr according to rating doctor has-->
                            <div class="review-count rating" style="color: #f8ce0b;"><i class="fas fa-star filled"></i><i class="fas fa-star filled"></i><i class="fas fa-star filled"></i><i class="fas fa-star filled"></i><i class="fas fa-star"></i></div>
                        </div>
                    </div>
                    <div style="color: #050446; margin-bottom: 15px;font-size:1rem;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis labore voluptates sapiente, quae ab omnis sed ipsam quaerat cumque quas, nobis sunt reiciendis magni dolor incidunt saepe officiis impedit fuga. Suscipit nobis cum laboriosam, blanditiis perferendis soluta rerum itaque vitae officia illo ipsam nemo voluptatibus dicta quod pariatur rem fugiat.
                    </div>   
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
