<div id="prescription" class="col m12" style="background-color: white;">
    <table class="highlight" style="overflow-x: scroll;">
      <thead>
        <tr>
          <th>Created By</th>
          <th>Date</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p class="table-avatar"><a class="avatar avatar-sm mr-2" href="/images/doc1.png">
            <img class="avatar-img rounded-circle" src="/images/doc1.png" alt="User" style="float:left; vertical-align: middle; width: 50px;height: auto;border-radius: 100%;"></a>
            <a href="/doctors/docProfile/<%=apt.doctorId._id%>" style="font-weight: 500;font-size:1.2rem;">Dr. Somil Mishra<span style="color: rgb(78, 78, 78); font-size: x-small; display: block;">Dental</span></a></p>
          </td>
          <td>11 Nov 2019</td>
          <td>General</td>
          <td class="text-right">
            <div class="table-action">
            <a class="waves-effect waves-light btn-small" href="#" style="color: #1db9aa; background-color: rgba(2, 182, 179,0.12);"><i class="far fa-eye"></i> View</a>
            <a class="waves-effect waves-light btn-small" style="color: #26af48; background-color: rgba(15, 183, 107,0.12);" href="#"><i class="material-icons">print</i>Print</a>
           </td>
        </tr>
      </tbody>
    </table>
  </div>