<section class="book-appontment" style="background-image:url(images/rate.jpg);">
    <div class="container  cont1">
        <div class="  docInfo" style="font-size: 1.2rem; align-items: center; text-align: center; color: #fff;">
            <h5 class="subheading-two" style="font-size: 1rem;">Doctor's Information:</h5>
            <ul class="info">
                <li>
                    <span><img src="images/sethes.jpg" alt="" class="avatar-img"></span>
                    <span><br>Dr. RD Singh<br>Cardiologist<br><i style="color:white;" class="fas fa-map-marker-alt"></i> Delhi,India</span>
                    <br>
                    <span>
                    <ul class="inline-list" style="padding: 15px 40px;">
                        <li><a href="#"><i style="color:white;" class="fas fa-envelope"></i></a></li>
                        <li><a href="#"><i style="color:white;"class="fas fa-phone-alt"></i></a></li>
                        <li><a href="#"><i style="color:white;"class="fas fa-id-card"></i></a></li>
                    </ul>
                    </span>
                </li>
            </ul>
        </div>
        
        <div class="book-info" style="background-color:#0000005c; color: white;">
            <h5 class="heading-slot" style="color: #fff;">How was your Experience with doctor:</h5>
            <form action="/users/paynow" method="post" style="padding: 20px;">
                <div class="rating col s12">
                    <input placeholder="Rating" name="rating" type="text">
                    <label for="rating">Rating</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1" style="color: rgb(255, 254, 254); font-weight: 500;">Write your review</label>
                  </div>
                  <a href="" class="btn-teal">Submit</a>
            </form>
        </div>
    </div>
</section>

 