<section class="book-appontment" style="background-image:url(images/review-background.jpg);">
    <div class="container  cont1">
        <div class="  docInfo" style="font-size: 1.2rem; align-items: center; text-align: center; color: #fff;">
            <h5 class="subheading-two" style="font-size: 1rem;">Doctor's Information:</h5>
            <ul class="info">
                <li>
                    <span><img src="images/sethes.jpg" alt="" class="avatar-img"></span>
                    <span><br>Dr. RD Singh<br>Cardiologist<br><i style="color:white;" class="fas fa-map-marker-alt"></i> Delhi,India</span>
                    <br>
                    <span>
                    <ul class="inline-list" style="padding: 15px 40px;">
                        <li><a href="#"><i style="color:white;" class="fas fa-envelope"></i></a></li>
                        <li><a href="#"><i style="color:white;"class="fas fa-phone-alt"></i></a></li>
                        <li><a href="#"><i style="color:white;"class="fas fa-id-card"></i></a></li>
                    </ul>
                    </span>
                </li>
            </ul>
        </div>
        
        <div class="book-info" style="background-color:#000000a6; color: white;">
            <h5 class="heading-slot" style="color: #fff;">How was your Experience with doctor:</h5>
            <form  style="padding: 20px;">
                <h6>Rating</h6>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                  </div>

                <div class="input-field col s12" style="margin-top: 15vw;">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1" style="color: rgb(255, 254, 254); font-weight: 500;">Write your review</label>
                  </div>
                  <a href="/users/profile" class="btn-teal">Submit</a>
            </form>
        </div>
    </div>
</section>

 