<div class="head">
    <div class="logo">
      <div class="head__back">
        <i class="fas fa-angle-left"></i>
      </div>
      <h3 id="username"><%if(user.isDoctor){%>Dr.<%=user.name%><%}else{%><%=user.name%><%}%></h2>
    </div>
  </div>  
  <div class="main">  
  <div class="main__left">
    <div class="videos__group">
      <div id="video-grid">

      </div>
    </div>
    <div class="options">
      <div class="options__left">
        <div id="stopVideo" class="options__button">
          <i class="fa fa-video-camera"></i>
        </div>
        <div id="muteButton" class="options__button">
          <i class="fa fa-microphone"></i>
        </div>
        <div id="showChat" class="options__button">
          <i class="fa fa-comment"></i>
        </div>
      </div>
      <div class="options__right">
        <div id="endcall" class="options__button">
          <a href=<%if(user.isDoctor){%>"/doctors/profile"<%}else{%>"/users/review"<%}%>><i class="fas fa-phone-slash"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="main__right">
    <div class="main__chat_window">
        <div class="messages">

        </div>
    </div>
    <div class="main__message_container">
      <input id="chat_message" type="text" autocomplete="off" placeholder="Type message here...">
      <div id="send" class="options__button">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/videocall.js"></script>