  .container{
    max-width:1000px;
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
  }
  .card{
    min-height:200px;
    width:260px;
    margin:40px 10px;
    padding:1rem;
    cursor:pointer;
    background-color:#fff;
  }
  .card img{
    width:100%;
    height:160px;
    border-radius:10px;
    position:relative;
    z-index:1000;
    transition:all .5s ease-in-out;
  }
  .card__content{
    margin:1rem 0;
    color:#222;
    overflow:hidden;
    margin-top:-200px;
    opacity:0;
    visibility:hidden;
    transition:all .5s ease-in-out;
  }
  .card__content h2{
    margin:.6rem auto;
    text-align:center;
  }
  .card__content p{
    font-size:1.1rem;
    line-height:1.8rem;
    text-align:center;
  }
  .card__content button{
    width:200px;
    padding:10px 15px;
    display:block;
    text-align:center;
    margin:.6rem auto;
    font-size:1.1rem;
    color:#444;
    text-decoration:none;
    background-color:#222;
    border-radius:10px;
    transition:.3s;
  }
  .card__content button:hover{
    color:#fff;
    background-color:#000;
    box-shadow:0 0 2px 2px rgba(0,0,0,0.4);
  }
  .card:hover img{
    margin-top:-60px;
    box-shadow:0 0 4px 6px rgba(0,0,0,0.3);
  }
  .card:hover>.card__content{
    margin-top:0;
    opacity:1;
    visibility:visible;
  }
  @media screen and (max-width:800px){
    .container{
      flex-wrap:wrap;
    }
  }



  
.wrapper{
  top:50%;
  left:50%;
  width: fit-content;
  height:auto;
}
.wrapper button{
  width:200px;
  height:80px;
  background: linear-gradient(to left top, #c32c71 50%, #b33771 50%);
  border-style: none;
  color:#fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: 'Lato';
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.wrapper button span{
  position: absolute;
  display: block;
}.wrapper button span:nth-child(1){
  height: 3px;
  width:200px;
  top:0px;
  left:-200px;
  background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1{
  0%{
      left:-200px
  }
  100%{
      left:200px;
  }
}
.wrapper button span:nth-child(2){
  height: 70px;
  width: 3px;
  top:-70px;
  right:0px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2{
  0%{
      top:-70px;
  }
  100%{
      top:70px;
  }
}
.wrapper button span:nth-child(3){
  height:3px;
  width:200px;
  right:-200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3{
  0%{
      right:-200px;
  }
  100%{
      right: 200px;
  }
}

.wrapper button span:nth-child(4){
  height:70px;
  width:3px;
  bottom:-70px;
  left:0px;
  background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4{
  0%{
      bottom: -70px;
  }
  100%{
      bottom:70px;
  }
}

.wrapper button:hover{
  transition: all .5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.wrapper button:hover span{
  animation-play-state: paused;
}


.checked {
  color: orange;
}
.brand-logo {
  color: white;
  font-weight: 600;
  font-size: 2rem;
  width: 25%;
  text-align: center;
}
nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}